/*All Products Section*/
.pbanner-text {
  color: #f9ffef;
}

.hero-text .pbanner-p {
  color: #f9ffef;
}

/*Product Navigation*/
.p-bar {
  background-color: #44423d48;
  padding: 10px;
}

.p-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.p-item {
  color: #3d280f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.p-item:hover {
  color: #f9ffef;
}

.p-button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #3d280f;
  color: #f9ffef;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.p-button:hover {
  background-color: #9b59b6;
}

/*Workshop section*/
.services-container {
  max-width: 730px;
  margin: 0 auto;
  padding: 15px;
}

.services-section {
  background-color: #d6cfc2;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

.services-content {
  color: #3d280f;
}

.services-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-info li {
  margin-bottom: 10px;
}

.cta-button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background-color: #3d280f;
  color: #f9ffef;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #59b66f;
}

/*API Section*/
.api-section {
  text-align: center;
  background-color: #d6cfc2;
}

.palette {
  display: flex;
  align: center;
  padding: 2%;
}
.color-box {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  position: relative;
}

#generatePalette {
  background-color: #3d280f;
  color: #f9ffef;
  padding: 12px 24px;
  border: none;
  border-radius: 0.25rem;
}
#generatePalette:hover {
  background-color: rgba(58, 65, 45, 0.9);
  color: #f9ffef;
  padding: 12px 24px;
  border: none;
  border-radius: 0.25rem;
}

.hex-code {
  position: absolute;
  bottom: 7px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
