/*All Products Section*/
/*All-Products Banner*/
.pbanner-text {
  text-shadow: 0 0 5px #f8f8f8, 0 0 5px #958474;
}

.hero-text .pbanner-p {
  color: #1c1518;
  font-size: 25px;
  font-weight: 400;
  text-shadow: 0 0 5px #f8f8f8, 0 0 5px #958474;
}

/*Product Navigation*/
.p-bar {
  background-color: #c0b9b0;
  text-align: center;
  padding: 8px;
}

.p-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  gap: 35px;
}

.p-item {
  color: #3d280f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.p-item:hover {
  text-decoration: 1.5px solid underline;
  text-underline-offset: 5px;
}

.p-button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #3d280f;
  color: #f9ffef;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.p-button:hover {
  background-color: #9b59b6;
}

/*Workshop section*/
.services-section {
  background-color: #d6cfc2;
  color: #3d280f;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  font-size: 14px;
}

.services-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-info li {
  margin-bottom: 15px;
}

.cta-button {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #3d280f;
  color: #f9ffef;
  border: none;
  border-radius: 5px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #9b59b6;
}

/*API Section*/
.api-section{
  background-color: #d6cfc2;
  color: #3d280f;
  text-align: center;
  padding: 10px;
  font-size: 14px;}
  
#generateButton {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: #3d280f;
  color: #f9ffef;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#generateButton:hover {
  background-color: #9b59b6;
}

/*API Colour Generator*/
.api-container{
  background-color: #d6cfc2;
  color: #3d280f;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

#paletteContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.colorBox {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: flex-end; /* Align text to the bottom */
  justify-content: center;
  color: #3d280f;
  text-shadow: 0 0 5px #f8f8f8, 0 0 5px #958474;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
}

/*Tablet + Desktop Media Query*/
@media (min-width: 768px) {
  /*P-Nav*/
  .p-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .p-item {
    font-size: 15px;
    padding: 10px;
  }

  /*Products Photo*/
  .all-products {
    width: 250px;
    height: 250px;
  }

  .p-button {
    font-size: 13px;
  }

  /*Workshop Section*/
  .services-section{
    font-size: 15px;
  }
  .service-image {
    width: 600px;
    height: 400px;
  }

  .services-content {
    font-size: 15px;
  }

  /*API*/
  .api-section{
    font-size: 15px;
  }
  
  #generateButton {
    font-size: 14px;
  }

  .colorBox {
    width: 120px;
    height: 120px;
    font-size: 14px;
  }
  }
