.contact-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    font-size: 14px;
}

.contact-section{
    background-color: #d6cfc2;
    color: #3d280f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.contact-heading {
    color: #3d280f;
    text-shadow: 0 0 5px #f8f8f8, 0 0 5px #bab1a8;
}

/*Heading + Paragraph*/
.form-header,.message-button {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.fa-envelope{
    font-size: 20px;
}

/*Horizontal Line under Heading*/
.horizontal-line{
    border-top: 0.5px solid #3d280f45;
}

/*Form*/
/*F&L Name Box*/
.name-box {
    display: flex;
    justify-content: space-between;
}

.name-field{
    padding-right: 15px;
}

.name-box label {
    display: block;
    margin-bottom: 5px;
}

.name-box input {
    flex: 1;
}

.name-box input[type="text"] {
    max-width: 100%;
}

/*Form Headings*/
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Message Box*/
textarea {
    height: 100px;
    resize: vertical;
}

/*Send Message button*/
input[type="submit"] {
    font-family:'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #3d280f;
    color: #f9ffef;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #9b59b6;
}

/*Tablet & Desktop Media Q*/
@media (min-width: 426px){

.contact-container {
    max-width: 600px;
}

.form-header{
    font-size: 15px;
}

.name-field{
    padding-right: 5px
}
}